# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
env/
biodatavenv/

# Django
db.sqlite3
*.sqlite3

# Static & Media (if used later)
staticfiles/
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log