# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
biodatavenv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations (optional, if not needed)
# */migrations/
# !*/migrations/__init__.py
